{
  "plugins": ["prettier-plugin-svelte"],
  "semi": false,
  "singleQuote": true,
  "svelteSortOrder": "scripts-markup-styles-options",
  "svelteStrictMode": true,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": true
}
